@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-yellow: hsl(47, 88%, 63%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --font-extra-bold: 900;
  --font-bold: 700;
  --font-normal: 500;
}

html,
body {
  height: 100%;
  font-family: "Figtree", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-yellow);
}

.card {
  width: 100%;
  max-width: 327px;
  background-color: var(--color-white);
  padding: 24px;
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  box-shadow: 8px 8px 0px 0px var(--color-black);
}

.blogImage img {
  width: 100%;
  height: 200px;
  /* 消除图片底部空隙（最主要原因）, 让图片可以自然占满父容器 */
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.content {
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 12px;

  width: 100%;
}

.content .category {
  border-radius: 4px;
  background-color: var(--color-yellow);
  font-size: 12px;
  font-weight: var(--font-bold);
  line-height: 1.5;
  letter-spacing: 0;
  padding: 4px 12px;
  color: var(--color-gray-950);
}

.content .date {
  font-size: 12px;
  font-weight: var(--font-normal);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  text-align: left;
}

.content .title {
  font-size: 20px;
  font-weight: var(--font-extra-bold);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  width: auto;
  text-align: left;
}

.content .description {
  font-size: 14px;
  font-weight: var(--font-normal);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-500);
  text-align: left;
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0px;
}

.author img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.author .authorname {
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  text-align: left;
}

.content .title:hover {
  color: var(--color-gray-500);
  cursor: pointer;
}
