@font-face {
  font-family: "Figtree";
  src: url("Figtree-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-yellow: hsl(47, 88%, 63%);
  --color-gray-500: hsl(0, 0, 42%);
  --color-gray-950: hsl(0, 0, 7%);
}

html,
body {
  height: 100%;
  font-family: "Figtree";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-yellow);
}

.card {
  flex: 1 0 0;
  width: 100%;
  max-width: 327px;
  background-color: var(--color-white);
  padding: 24px;
  border: 1px;
  border-color: var(--color-gray-950);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  -webkit-box-shadow: 8px 8px 0px 0px #000000;
  box-shadow: 8px 8px 0px 0px #000000;
}

.card > * {
  flex: 1 0 auto;
}

.blogImage img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.content {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;

  width: 100%;
  height: auto;
}

.content > * {
  flex: 1 0 auto;
}

.content .category {
  border-radius: 4px;
  background-color: var(--color-yellow);
  font-family: "Figtree";
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0;
  padding: 4px 12px;
  color: var(--color-gray-950);
}

.content .date {
  font-family: "Figtree";
  font-size: 12px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray-950);
  width: auto;
  text-align: left;
}

.content .title {
  font-family: "Figtree";
  font-size: 20px;
  font-weight: bolder;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray-950);
  width: auto;
  text-align: left;
}

.content .description {
  font-family: "Figtree";
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray-500);
  width: auto;
  text-align: left;
}

.author {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.author img {
  width: 32px;
  height: auto;
}

.author .authorname {
  font-family: "Figtree";
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray-500);
  width: auto;
  text-align: left;
}
